{
  "sourceMaps": true,
  "plugins": ["add-module-exports", "transform-object-rest-spread"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
